<footer class="footbar text-white mt-5 pt-5 pb-3">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mb-3">
				<h5 class="fw-bold mb-2">Contact Us</h5>
				<address>
					579 Qianwangang Road, Huangdao District, Qingdao, Shandong Province,
					P.R. China<br />
					Post Code: 266590<br />
					Shandong University of Science and Technology
				</address>
				<div class="mt-3">
					<p class="mb-1">
						<strong>Laboratory:</strong> J13 Building, Room 416
					</p>
					<p class="mb-0">
						<strong>International Office:</strong> J13 Building, Room
						114
					</p>
				</div>
				<a
					href="mailto:{{ site.email }}"
					class="text-white hover-primary mt-3 d-inline-block"
					>{{ site.email }}</a
				>
			</div>
			<div class="col-md-6 text-md-end">
				<h5 class="fw-bold mb-2">Quick Links</h5>
				<a
					class="text-white d-block hover-primary mb-2"
					href="{{ '/' | relative_url }}"
				>
					Home
				</a>
				<a
					class="text-white d-block hover-primary mb-2"
					href="{{ '/feed.xml' | relative_url }}"
					><i class="bi bi-rss-fill"></i> RSS Feed</a
				>
				<a
					class="text-white d-block hover-primary mb-2"
					href="{{ '/academic_exchange' | relative_url }}"
				>
					Academic Exchange
				</a>
				<a
					class="text-white d-block hover-primary mb-2"
					href="{{ '/about' | relative_url }}"
				>
					About This Site
				</a>
			</div>
		</div>
		<div class="text-center mt-3">
			<div class="small mb-0 border-top p-3">
				<p>&copy; 2025 CogTwins Lab. All rights reserved.</p>
			</div>
		</div>
	</div>
</footer>
