<header class="sticky-top">
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container">
			<a class="navbar-brand d-flex flex-column" href="/">
				<span class="fw-bold fs-3 me-lg-2">CogTwins Fablab</span>
				<small class="text-white opacity-75" style="font-size: 0.9rem">Cognitive Industrial Digital Twins Fablab</small>
			</a>
			
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link text-white position-relative px-3" href="{{ '/' | relative_url }}">
							<i class="bi bi-house-door me-1"></i>Home
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white position-relative px-3" href="{{ '/team_publication' | relative_url }}">
							<i class="bi bi-journal-text me-1"></i>Team Publications
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
