<header class="sticky-top">
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container">
			<a class="navbar-brand d-flex flex-column" href="/">
				<span class="fw-bold fs-3 me-lg-2">CogTwins Lab</span>
				<small class="text-white opacity-75" style="font-size: 0.9rem">Cognitive Industrial Digital Twins Lab</small>
			</a>
			
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link text-white position-relative px-3" href="{{ '/' | relative_url }}">
							<i class="bi bi-house-door me-1"></i>Home
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white position-relative px-3" href="{{ '/team_publication' | relative_url }}">
							<i class="bi bi-journal-text me-1"></i>Team Publications
						</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link text-white dropdown-toggle px-3" href="#" role="button" data-bs-toggle="dropdown">
							<i class="bi bi-people me-1"></i>Academic Exchange
						</a>
						<ul class="dropdown-menu shadow">
							<li>
								<a class="dropdown-item d-flex align-items-center" href="{{ '/academic_exchange' | relative_url }}">
									<i class="bi bi-building me-2"></i>Academic Exchange (SDUST)
								</a>
							</li>
							<li>
								<a class="dropdown-item d-flex align-items-center disabled" href="#">
									<i class="bi bi-award me-2"></i>IEEE (Qingdao)
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link text-white dropdown-toggle px-3" href="#" role="button" data-bs-toggle="dropdown">
							<i class="bi bi-geo-alt me-1"></i>SDUST CIE
						</a>
						<ul class="dropdown-menu shadow">
							<li>
								<a class="dropdown-item d-flex align-items-center" href="https://cie.sdust.edu.cn/" target="_blank">
									<i class="bi bi-compass me-2"></i>Qingdao Campus
								</a>
							</li>
							<li>
								<a class="dropdown-item d-flex align-items-center" href="https://jnio.sdust.edu.cn/index.htm" target="_blank">
									<i class="bi bi-compass-fill me-2"></i>Jinan Campus
								</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<small class="dropdown-item-text fs-sm text-wrap opacity-75">
									College of International Exchange
								</small>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>